TRAEFIK_ACME_EMAIL=admin@example.com
TRAEFIK_WEB_HOST=sima.local
TRAEFIK_API_HOST=api.sima.local

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=sima_dance
POSTGRES_PORT=5433

DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=backend,sima.local,api.sima.local,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://sima.local,https://api.sima.local
DJANGO_CORS_ALLOWED_ORIGINS=https://sima.local

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change_me_admin
