asgiref
channels
channels-redis
Django
django-cors-headers
django-debug-toolbar
django-environ
django-filter
gunicorn
Markdown
packaging
psycopg2-binary
sqlparse
tzdata
whitenoise
djangorestframework
djangorestframework-simplejwt
uvicorn
websockets
